@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.widget-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100vh;
  height: 70vh;
  width: 100vw;
  background-color: $app-bg-color;
  @include custom-scrollbar;
}

.join-inputs form input {
  background-color: $app-input-bg-color;
  color: $app-text-color;
  border-radius: 0.4rem;
  margin: 0.5rem;

  &:focus {
    background-color: $app-input-bg-color--focus;
    border: $app-input-border--focus;
    outline: none;
  }

  &:focus::placeholder {
    color: transparent;
  }
}