.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.search__form {
  flex-grow: 1;
}

.radius {
  border-radius: 0.5rem;
  width: 20em;
  height: 2.3em;
}