
$app-bg-color: #09090b;
$app-text-color: #fff;
$app-scroll-bg-color: hsla(0,0%,100%,.2);
$app-scroll-thumb-color: #772ce8;
$app-scroll-thumb-color--hover: #a970ff;

$chat-button-background-color: #9177ff;
$chat-button-color: #fff;
$chat-button-radius: 0.3rem;
$chat-button-background-color--hover: #772ce8;
$chat-input-bg-color: hsla(0,0%,100%,.2);
$chat-input-bg-color--focus: #000;
$chat-input-border-color: #772ce8;
$chat-input-border-color--focus: #a970ff;
$chat-background-color: #0c0c10;
$chat-message-color: #FFFFFF;

$channel-text-color: #a970ff;
$channel-bg-color--hover: hsla(0,0%,100%,.2);
$channel-bg-color: #0c0c10;