@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.search__form {
  flex-grow: 1;

  input {
    background-color: $chat-input-bg-color;
    color: #fff;
    &:hover {
      background-color: $chat-input-bg-color--focus;
    }
  }
}

.radius {
  border-radius: 0.5rem;
  width: 20em;
  height: 2.3em;
  text-align: center;
}

::placeholder {
  text-align: center;
}

input:placeholder-shown {
  text-align: center;
}