@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.search__form {
  input {
    margin: 0.5rem;
    background-color: $chat-input-bg-color;
    color: #fff;
    outline: none;
    &:hover {
      background-color: $chat-input-bg-color--focus;
    }
  }
}

.youtube-search {
  position: sticky;
}

.youtube-results {
  background-color: $channel-bg-color;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  height: 35vh;
  width: 20em;
  margin: 0 auto;
  flex-direction: column;
  overflow-y: scroll;
  .video-article {
    color: $video-result-color;
    margin: 0.2rem;
    margin-top: 0.5rem;
    border: $video-result-border;
    border-radius: 0.4em;
    &:hover {
      background: $channel-bg-color--hover;
    }
  }
}

.radius {
  border-radius: 0.5rem;
  width: 20em;
  height: 2.3em;
  text-align: center;
}
.youtube-video {
  iframe {
    width: inherit;
    flex-grow: 1;
    height: 80vh;
  }
}

/* Tablet CSS */
@media only screen and (min-width: 768px) {
  .youtube-video {
    iframe {
      margin-top: 0.5rem;
      width: 80vw;
      height: 70vh;
    }
  }
}

@media only screen and (min-width: 1080px) {

  .youtube-video {
    iframe {
      width: inherit;
      flex-grow: 1;
    }
  }

  .youtube-results {
    width: 25em;
  }
}