@import './styles/variables.scss';
@import './styles/mixins.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: $app-font-family;
  background-color: $app-bg-color;
}

#root {
  background-color: $app-bg-color;
  color: $app-text-color;
  height: 100vh;
}

.parrot-perch {
  display: flex;
  flex-direction: column;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;

  @include custom-scrollbar;
}

.nav {
  height: 8em;
  background-color: $app-bg-color;
  display: flex;
  justify-content: center;

  .nav-link {
    color: $nav-link-color;
    display: flex;
    flex-direction: row;
  }
}

.nav-link .logo-image {
  height: 4rem;
  width: 6rem;
}

.root-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    width: 90vw;
  }
}

#app-header {
  font-family: $app-logo-font-family;
  font-size: 2.5em;
  background: $app-header-background;
  background: $app-header-background-web;
  background: $app-header-background-moz;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header-container {
  background-color: $app-header-background-color;
}
/* Tablet CSS Styles */
@media only screen and (min-width: 768px) {
  #app-header {
    font-size: 4em;
  }
  .parrot-perch {
    height: 100vh;
  }
  .nav-link .logo-image {
    height: 5em;
    width: 8em;
  }
}
/* Desktop CSS Styles */
@media only screen and (min-width: 1080px) {
  #app-header {
    font-size: 5em;
  }
  .nav-link .logo-image {
    height: 6em;
    width: 12em;
  }
}