@import './styles/variables.scss';
@import './styles/mixins.scss';

* {
  box-sizing: border-box;
  @include custom-scrollbar;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $app-bg-color;
}

#root {
  background-color: $app-bg-color;
  color: $app-text-color;
}

.parrot-perch {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav {
  background-color: $nav-background-color;

  .nav-link {
    color: $nav-link-color;
  }
}

.root-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app-header {
  background: linear-gradient(90deg, red -5%, yellow 10%, aqua, lime 30%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}