@import './styles/variables.scss';
@import './styles/mixins.scss';

* {
  box-sizing: border-box;
  @include custom-scrollbar;
}

body {
  font-family: $app-font-family;
  background-color: $app-bg-color;
}

#root {
  background-color: $app-bg-color;
  color: $app-text-color;
}

.parrot-perch {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav {
  background-color: $nav-background-color;
  height: 10vh;

  .nav-link {
    color: $nav-link-color;
  }
}