@import '../../../styles/variables.scss';

.thumbnail {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  max-height: 5em;
}

.display__name {
  font-weight: 700;
}

.game_name {
  font-size: 1.2rem;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}