@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.search__form {
  display: flex;
  justify-content: center;
  input {
    background-color: $chat-input-bg-color;
    color: #fff;
    &:focus {
      background-color: $chat-input-bg-color--focus;
    }
  }
}

.radius {
  border-radius: 0.5rem;
  width: 20em;
  height: 2.3em;
  text-align: center;
}

::placeholder {
  text-align: center;
}
