@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.search__form {
  display: flex;
  justify-content: center;
  input {
    background-color: $chat-input-bg-color;
    color: #fff;
    &:focus {
      background-color: $app-input-bg-color--focus;
      border: $app-input-border--focus;
      outline: none;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }
}

.radius {
  border-radius: 0.5rem;
  width: 15em;
  height: 2.3em;
  text-align: center;
}

::placeholder {
  text-align: center;
  color: #c9c9c9;
}
@media only screen and (min-width: 768px) {
  .radius {
    width: 20em;
  }
}