@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';


.twitch-live-search {
  
  .result-list {
    background-color: $channel-bg-color;
    display: flex;
    position: absolute;
    height: 35vh;
    width: 40vw;
    flex-direction: column;
    overflow-y: scroll;

    @include custom-scrollbar;

    .twitch-search-results {
      overflow-x: hidden;
    }
  }
}

.stream-frames {
  margin-top: 2rem;
}